fastapi[standard]
sqlmodel
psycopg2-binary
python-dotenv
pyjwt
passlib[bcrypt]
pydantic[email]
pydantic-settings
alembic
user-agents
geoip2
resend
celery
redis
apscheduler
slowapi
python-multipart
uvicorn[standard]
gunicorn
